.wrapper {
    padding: 25px;
    display: grid;
    grid-gap: 55px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    width: 100%;
}

.card {
    height: 500px;
    -webkit-box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
    box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
}

.card:hover {
    background-color: #f3f3f3;
}

.close_icon {
    float: right;
    font-weight: bold;
    color: rgb(1, 94, 29);
}