* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

#main_wrapper {
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;

    -webkit-box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
    box-shadow: 17px 16px 32px -26px rgba(0, 0, 0, 0.62);
}

#sidebar_holder {
    grid-column: 1;
    margin: 15px;
    padding-left: 15px;
}

#main_content_holder{
    grid-column: 2/5;
    margin: 15px;
    padding-left: 15px;
}
