<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet" />

    <title>Digital Learning 2020</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-3">Digital Learning 2020</h1>
        <p class="lead">In an attempt to move away from third-party, flash-created, single-module e-learning platform, to 
        a robust, modern and for a more effective teaching platform.</p>
        <hr class="my-2">
        <p>Secure user accounts, leaderboards, timed-assessments, latest news/material, access anywhere, feedback/comments and more all in one place.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/material_01" role="button">Example Material</a>
        </p>
    </div>
    <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
</body>

</html>